Source: cron
Section: admin
Priority: important
Maintainer: Steve Greenland <stevegr@debian.org>
Standards-Version: 3.5.2
Build-Depends: debhelper, libpam0g-dev

Package: cron
Architecture: any
Depends: ${shlibs:Depends}, debianutils (>=1.7)
Recommends: exim | smail | sendmail | mail-transport-agent
Suggests: anacron (>=2.0-1), logrotate, lockfile-progs
Conflicts: suidmanager (<< 0.50)
Provides:
Description: management of regular background processing
 cron is a background process (`daemon') that runs programs at regular
 intervals (for example, every minute, day, week or month); which
 processes are run and at what times are specified in the `crontab'.
 .
 Users may also install crontabs so that processes are run on
 their behalf, though this feature can be disabled or restricted to
 particular users.
 .
 Output from the commands is usually mailed to the system administrator
 (or to the user in question); you should probably install a mail system
 as well so that you can receive these messages.
 .
 This cron package is configured by default to do various standard
 system maintenance tasks, such as ensuring that logfiles do not
 grow endlessly and overflow the disk.
 .
 The lockfile-progs package is only a "Suggests" because of the poor
 way that dselect handles "Recomments", but I do strongly suggest that
 you install it; it prevents /etc/cron.daily/standard from running multiple
 times if something gets jammed.
