#!/usr/bin/make -f
# 
# Rules file for cron
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_OPTIM= -O2 -Wall
DEB_INSTALL = install
DEB_DEBUG_DEFS = -DDEBUGGING=0

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
  DEB_OPTIM = -g -Wall 
  DEB_DEBUG_DEFS= -DDEBUGGING=1
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  DEB_INSTALL += -s
endif

# Set system type (Linux, HURD, etc.)
DEB_HOST_GNU_SYSTEM = $(shell dpkg-architecture -qDEB_HOST_GNU_SYSTEM)
ifeq ($(DEB_HOST_GNU_SYSTEM), gnu)
  PAM_DEFS = 
  PAM_LIBS =
  CONFFILES = conffiles.nopam
else
  PAM_DEFS = -DUSE_PAM
  PAM_LIBS = -lpam
  CONFFILES = conffiles.pam
endif

export PAM_DEFS
export PAM_LIBS

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) OPTIM="$(DEB_OPTIM)" DEBUG_DEFS="$(DEB_DEBUG_DEFS)"

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	rm -f debian/conffiles
	dh_clean

# Build architecture-independent files here.
binary-indep: build
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the files into debian/tmp
	$(MAKE) install DESTDIR=`pwd`/debian/tmp OPTIM="$(DEB_OPTIM)" INSTALL="$(DEB_INSTALL)" DEBUG_DEFS="$(DEB_DEBUG_DEFS)"
	install -m 755 debian/checksecurity debian/tmp/usr/sbin/.
	install -m 644 debian/checksecurity.conf debian/tmp/etc/.

	cp -p debian/$(CONFFILES) debian/conffiles
	dh_installdocs FEATURES THANKS README debian/README.anacron
#	dh_installexamples
#	dh_installmenu
	dh_installpam
	dh_installinit --noscripts
	# Can't use dh_installcron because we don't have "normal" naming
	# convention
	install -m 644 debian/crontab.main debian/tmp/etc/crontab
	install -m 755 debian/standard.daily \
                       debian/tmp/etc/cron.daily/standard
	install -m 755 debian/standard.monthly \
                       debian/tmp/etc/cron.monthly/standard
	dh_installmanpages crontab.1 crontab.5 cron.8 bitstring.3
#	dh_undocumented
	dh_installchangelogs CHANGES
	dh_strip
	dh_compress
	dh_fixperms
	# dh_suidregister -- deliberately commented out, as it causes
	# /usr/bin/crontab to be shipped non-suid.
	# so does dh_fixperms when not run under fakeroot. sigh.
	chmod u+s debian/tmp/usr/bin/crontab
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
