#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# Set system type (Linux, HURD, etc.)
DEB_HOST_ARCH_OS = $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

DEB_DEBUG_DEFS = -DDEBUGGING=0
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
  DEB_DEBUG_DEFS= -DDEBUGGING=1
endif

ifeq ($(DEB_HOST_ARCH_OS), linux)
  PAM_DEFS = -DUSE_PAM
  PAM_LIBS = -lpam
  SELINUX = yes
else
  PAM_DEFS = 
  PAM_LIBS =
endif
export PAM_DEFS PAM_LIBS

# SELinux
ifeq (yes,$(SELINUX))
  SELINUX_DEFS = -DWITH_SELINUX
  SELINUX_LIBS = -lselinux
endif
export SELINUX_DEFS SELINUX_LIBS

# Audit
ifeq (yes,$(AUDIT))
AUDIT_DEFS = -DWITH_AUDIT
AUDIT_LIBS = -laudit
else
AUDIT_DEFS = 
AUDIT_LIBS = 
endif
export AUDIT_DEFS AUDIT_LIBS


%:
	dh $@ 


override_dh_install:
	dh_install
	install -m 755 debian/standard.daily debian/cron/etc/cron.daily/standard
	install -m 644 debian/crontab.main debian/cron/etc/crontab
	install -m 644 debian/placeholder debian/cron/etc/cron.d/.placeholder
	install -m 644 debian/placeholder debian/cron/etc/cron.hourly/.placeholder
	install -m 644 debian/placeholder debian/cron/etc/cron.daily/.placeholder
	install -m 644 debian/placeholder debian/cron/etc/cron.weekly/.placeholder
	install -m 644 debian/placeholder debian/cron/etc/cron.monthly/.placeholder


override_dh_installchangelogs:
	dh_installchangelogs CHANGES


override_dh_installinit:
	dh_installinit -- start 89 2 3 4 5 .


override_dh_compress:
	dh_compress -Xexamples
